#accordion{
    margin-top: 20px;	
}
.titulo-depoimentos{
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #0275D8;
	margin-bottom: 0px;
	color: #FFFFFF;

	font-size: 24px;
}

.contato-select, .botoes-tipo {
	width: 50% ;
	display: inline-block;
	vertical-align: top;
}
.botoes-tipo .radio:first-child {
	margin-top: 0;
}

footer{
	background-color: #333;
	color: #FFF;
	padding: 1em;
	margin-top: 10px;
}

footer address:last-child{
	margin-bottom: 0;
}
